<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (1/19/2021, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [1]:
# write your answer here
str = input("Enter a string: ")
len = 0
for s in str:
      len = len+1
print("Length of the input string is:", len)

Enter a string: hello
Length of the input string is: 5

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [6]:
# write your answer here
str = input("Enter a string: ")
freq = {}
for x in str:
  if x in freq:
    freq[x] += 1
  else:
    freq[x] = 1
print(freq)

Enter a string: google.com
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [8]:
# write your answer here
num = []
len = int(input("Please enter the Total Number of List Elements : "))
for i in range(1, len + 1):
    value = int(input("Please enter the Value of %d Element : " %i))
    num.append(value)
total = sum(num)
print("\n The Sum of All Element in this List is : ", total)

Please enter the Total Number of List Elements : 6
Please enter the Value of 1 Element : 4
Please enter the Value of 2 Element : 5
Please enter the Value of 3 Element : 3
Please enter the Value of 4 Element : 2
Please enter the Value of 5 Element : 4
Please enter the Value of 6 Element : 5

 The Sum of All Element in this List is :  23

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [12]:
# write your answer here
str = input("Enter a string: ")
char = str[0]
str = str.replace(char, '$')
str = char + str[1:]
print(str)

Enter a string: chicken
chi$ken

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [9]:
# write your answer here
a=int(input("Enter a value:"))
b=int(input("Enter b value:"))
s = 3.14 * (1+(a/b))**3
print(s)

Enter a value:3
Enter b value:4
16.8284375

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [13]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [17]:
# write your answer here
t = (54,6,8,44,53,622)
element = 9
if element in t:
    print(element,"exists in tuple")
else:
    print(element,"does not exist in tuple")

9 does not exist in tuple

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [23]:
# write your answer here
test_set = set([6,33,5,7,88,53,65])
print("Maximum value is: ", max(test_set))
print("Minimum value is: ", min(test_set))

Maximum value is:  88
Minimum value is:  5

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [25]:
# write your answer here
from itertools import islice
from random import randint
student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
def dividing(student_list, mingroup=3, maxgroup=5):
    iterate = iter(student_list)
    while True:
        next = list(islice(iterate,randint(mingroup,maxgroup)))
        if next:
            yield next
        else:
            break
list(dividing(student_list))

[['vmb0067', 'pc0353', 'snd0097', 'yye0005'],
 ['sg0940', 'bk0301', 'rak0120'],
 ['rrk0058', 'spk0057', 'vl0135'],
 ['nm0547', 'pn0159', 'msp0174'],
 ['dd0420', 'ds0761', 'rs0850', 'ss1995'],
 ['at0739', 'at0768', 'mv0299', 'tv0119'],
 ['dy0091']]